<div>
    <div class="title">
        <div [style.flex]="1">{{ 'Config.Settings' | translate }}</div>
        <button class="btnClose" (click)="close.emit()">{{ 'General.Close' | translate }}</button>
    </div>
    <div class="mt-25 pl-20">
        <label>{{ 'Config.Language' | translate }}</label>&nbsp;
        <select #cmbLanguage class="cmbLanguage" [value]="translate.getDefaultLang()" (change)="setLanguage(cmbLanguage.value)">
            <option value="en">{{ 'Language.English' | translate }}</option>
            <option value="es">{{ 'Language.Spanish' | translate }}</option>
        </select>
    </div>
    <div class="rdo-jugadores">
        <label><input (click)="setPlayers.emit(1)" [checked]="jugador2 == null" class="radio" type="radio" name="jugadores" />&nbsp;{{ 'Config.Players1' | translate }}</label>
        <label><input (click)="setPlayers.emit(2)" [checked]="jugador2 != null" class="radio" type="radio" name="jugadores" />&nbsp;{{ 'Config.Players2' | translate }}</label>
    </div>
    <div class="hbox">
        <div class="player-config" *ngIf="jugador1 && jugador1.configTeclas">
            <div class="subtitle">{{ 'Config.Player1' | translate }}</div>
            <div class="grid-config">
                <div [style.gridRow]="1" [style.gridColumn]="1" class="btnTecla" (click)="setTecla('Izquierda', jugador1.configTeclas.Izquierda)">{{ 'Config.Left' | translate }}</div>
                <div [style.gridRow]="1" [style.gridColumn]="2" class="btnTecla" (click)="setTecla('Izquierda', jugador1.configTeclas.Izquierda)">{{getTecla(jugador1.configTeclas.Izquierda)}}</div>
                <div [style.gridRow]="2" [style.gridColumn]="1" class="btnTecla" (click)="setTecla('Derecha', jugador1.configTeclas.Derecha)">{{ 'Config.Right' | translate }}</div>
                <div [style.gridRow]="2" [style.gridColumn]="2" class="btnTecla" (click)="setTecla('Derecha', jugador1.configTeclas.Derecha)">{{getTecla(jugador1.configTeclas.Derecha)}}</div>
                <div [style.gridRow]="3" [style.gridColumn]="1" class="btnTecla" (click)="setTecla('Abajo', jugador1.configTeclas.Abajo)">{{ 'Config.Down' | translate }}</div>
                <div [style.gridRow]="3" [style.gridColumn]="2" class="btnTecla" (click)="setTecla('Abajo', jugador1.configTeclas.Abajo)">{{getTecla(jugador1.configTeclas.Abajo)}}</div>
                <div [style.gridRow]="4" [style.gridColumn]="1" class="btnTecla" (click)="setTecla('Rotar 1', jugador1.configTeclas.RotarCW)">{{ 'Config.RotateCW' | translate }}</div>
                <div [style.gridRow]="4" [style.gridColumn]="2" class="btnTecla" (click)="setTecla('Rotar 1', jugador1.configTeclas.RotarCW)">{{getTecla(jugador1.configTeclas.RotarCW)}}</div>
                <div [style.gridRow]="5" [style.gridColumn]="1" class="btnTecla" (click)="setTecla('Rotar 2', jugador1.configTeclas.RotarCCW)">{{ 'Config.RotateCCW' | translate }}</div>
                <div [style.gridRow]="5" [style.gridColumn]="2" class="btnTecla" (click)="setTecla('Rotar 2', jugador1.configTeclas.RotarCCW)">{{getTecla(jugador1.configTeclas.RotarCCW)}}</div>
                <div [style.gridRow]="6" [style.gridColumn]="1" class="btnTecla" (click)="setTecla('Pause', jugador1.configTeclas.Pause)">{{ 'Config.Pause' | translate }}</div>
                <div [style.gridRow]="6" [style.gridColumn]="2" class="btnTecla" (click)="setTecla('Pause', jugador1.configTeclas.Pause)">{{getTecla(jugador1.configTeclas.Pause)}}</div>
            </div>
        </div>
        <div class="player-config" *ngIf="jugador2 && jugador2.configTeclas">
            <div class="subtitle">{{ 'Config.Player2' | translate }}</div>
            <div class="grid-config">
                <div [style.gridRow]="1" [style.gridColumn]="1" class="btnTecla" (click)="setTecla('Izquierda', jugador2.configTeclas.Izquierda)">{{ 'Config.Left' | translate }}</div>
                <div [style.gridRow]="1" [style.gridColumn]="2" class="btnTecla" (click)="setTecla('Izquierda', jugador2.configTeclas.Izquierda)">{{getTecla(jugador2.configTeclas.Izquierda)}}</div>
                <div [style.gridRow]="2" [style.gridColumn]="1" class="btnTecla" (click)="setTecla('Derecha', jugador2.configTeclas.Derecha)">{{ 'Config.Right' | translate }}</div>
                <div [style.gridRow]="2" [style.gridColumn]="2" class="btnTecla" (click)="setTecla('Derecha', jugador2.configTeclas.Derecha)">{{getTecla(jugador2.configTeclas.Derecha)}}</div>
                <div [style.gridRow]="3" [style.gridColumn]="1" class="btnTecla" (click)="setTecla('Abajo', jugador2.configTeclas.Abajo)">{{ 'Config.Down' | translate }}</div>
                <div [style.gridRow]="3" [style.gridColumn]="2" class="btnTecla" (click)="setTecla('Abajo', jugador2.configTeclas.Abajo)">{{getTecla(jugador2.configTeclas.Abajo)}}</div>
                <div [style.gridRow]="4" [style.gridColumn]="1" class="btnTecla" (click)="setTecla('Rotar 1', jugador2.configTeclas.RotarCW)">{{ 'Config.RotateCW' | translate }}</div>
                <div [style.gridRow]="4" [style.gridColumn]="2" class="btnTecla" (click)="setTecla('Rotar 1', jugador2.configTeclas.RotarCW)">{{getTecla(jugador2.configTeclas.RotarCW)}}</div>
                <div [style.gridRow]="5" [style.gridColumn]="1" class="btnTecla" (click)="setTecla('Rotar 2', jugador2.configTeclas.RotarCCW)">{{ 'Config.RotateCCW' | translate }}</div>
                <div [style.gridRow]="5" [style.gridColumn]="2" class="btnTecla" (click)="setTecla('Rotar 2', jugador2.configTeclas.RotarCCW)">{{getTecla(jugador2.configTeclas.RotarCCW)}}</div>
                <div [style.gridRow]="6" [style.gridColumn]="1" class="btnTecla" (click)="setTecla('Pause', jugador2.configTeclas.Pause)">{{ 'Config.Pause' | translate }}</div>
                <div [style.gridRow]="6" [style.gridColumn]="2" class="btnTecla" (click)="setTecla('Pause', jugador2.configTeclas.Pause)">{{getTecla(jugador2.configTeclas.Pause)}}</div>
            </div>
        </div>
    </div>
</div>
<app-setkey #setKey *ngIf="showSetKey"></app-setkey>