/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.mt-5 {
    margin-top: 5px;
}

.mt-3 {
    margin-top: 3px;
}

.padding-12 {
    padding: 12px;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}