/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.mt-5 {
    margin-top: 5px;
}

.mt-3 {
    margin-top: 3px;
}

.padding-12 {
    padding: 12px;
}
